* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  font-family: "Monotype Corsiva", "Apple Chancery", "ITC Zapf Chancery",
    "URW Chancery L", cursive;
}
html {
  scroll-behavior: smooth;
}
/*  */
/* Thanh menu */
/*  */
/* Code chung */
.thanhMenu {
  width: 100%;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #f6f6f6;
}
.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #bd2026;
}
/* Logo */
.logo {
  width: 20%;
}
.anhLogo {
  height: 95px;
  width: 100%;
  object-fit: cover;
}
/* Các mục */
.option {
  width: 50%;
  font-size: 28px;
}
#optionCopy {
  display: none;
}
.option ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95px;
}
.option li {
  width: 25%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cart & login */
.container1 {
  width: 25%;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
}
.cart,
.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Dropdown */
.recommend {
  width: 280px;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
  position: absolute;
  top: 100px;
  right: 4.9%;
  box-shadow: none;
  background-color: #fff;
  display: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  user-select: none;
}
.account:hover .recommend {
  display: block;
}
#unsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#signed {
  display: none;
}
.signIn {
  width: 100%;
  margin-bottom: 10px;
}
.sigBtn,
.outBtn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.register {
  color: #bd2026;
  font-weight: 500;
}
.logGg {
  width: 100%;
  margin: 10px 0;
}
.ggBtn {
  height: 35px;
  width: 100%;
  border: 1px solid #dedede;
  color: #333;
  font-size: 15px;
  cursor: pointer;
}
.benefit {
  width: 100%;
  border: 2px solid #9a9a9a;
  border-radius: 5px;
  padding: 5px;
  font-family: "Monotype Corsiva", "Apple Chancery", "ITC Zapf Chancery",
    "URW Chancery L", cursive;
}
.benefit strong {
  font-size: 22px;
}
.benefit ul li {
  font-size: 18px;
  margin-left: 17px;
}
/*  */
/* Wang gao */
/*  */
.wangGao {
  margin: 105px 5% 5px 5%;
  height: 515px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  position: relative;
}
.anh {
  vertical-align: middle;
  height: 515px;
  object-fit: cover;
  padding-left: calc(50% - 779px / 2);
}
.slideContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.slides {
  display: none;
  width: 100%;
}
#slide1 {
  background-color: rgb(233, 1, 139);
  padding: 0 calc(50% - 515px / 2);
}
#slide2 {
  background-color: rgb(247, 231, 231);
  padding: 0 calc(50% - 779px / 2);
}
#slide3 {
  background-color: rgb(250, 209, 213);
  padding: 0 calc(50% - 773px / 2);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 42px / 2);
  width: 42px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f7ea66;
  font-size: 21px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.anhSo {
  font-size: 22px;
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.dotContainer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #bd2026;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*  */
/* Sản phẩm */
/*  */
/* Bọc */
.container2 {
  width: 100%;
}
.type {
  width: 90%;
  margin: 5% 5% 0 5%;
}
/* Các sản phẩm */
.deal,
.flower,
.teddy,
.cosmetic {
  width: 100%;
  padding: 5px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.deal {
  background-color: rgba(230, 45, 21, 0.8);
}
.flower {
  background-color: #ffe6dd;
}
.teddy {
  background-color: #d4e9ff;
}
.cosmetic {
  background-color: #ffe6dd;
}
.product {
  width: 220px;
  height: 300px;
  margin-top: 25px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product hr {
  width: 100%;
  margin: 5px 0;
}
.addBtn {
  width: 90%;
  height: 35px;
  padding: 7px 0;
  background: #f6f6f6;
  border: 3px solid #ff9800;
  color: #ff9800;
  border-radius: 10px;
  cursor: pointer;
}
.picLink {
  width: 100%;
  height: 60%;
}
.picContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic {
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.proName {
  font-family: "Lobster";
}
.pic:hover {
  object-fit: cover;
  height: 120%;
}
/*  */
/* Liên hệ */
/*  */
.contacts {
  background-image: url(/JSA16/SPCK/bgct.png);
  padding: 10px 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
.lienhe,
.follow {
  margin: 20px 0;
}
.lhContainer {
  display: flex;
}
.info {
  display: inline-block;
  font-size: 24px;
}
.info2 {
  display: flex;
  align-items: center;
}
.info2 a {
  font-size: 20px;
  margin-right: 5px;
}
.info2 a img {
  width: 40px;
}
/*  */
/* Up to top */
/*  */
#scroll {
  position: absolute;
  top: 0;
}
.up {
  position: fixed;
  bottom: 50px;
  right: 5px;
  width: 60px;
}
#up {
  width: 100%;
}

/*  */
/* Responsive */
/*  */
@media only screen and (max-width: 820px) {
  #slide2 {
    width: 100%;
  }
  #slide3 {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  /* thanh menu */
  #option {
    display: none;
  }
  #optionCopy {
    display: flex;
    width: 100%;
  }
  #optionCopy ul li {
    height: 55px;
  }
  #optionCopy ul {
    height: 55px;
  }
  .anhLogo {
    height: 75px;
  }
  .logo {
    width: 45%;
  }
  .container1 {
    width: 50%;
    height: 75px;
  }
  .thanhMenu {
    flex-direction: column;
  }
  /* WangGao */
  .wangGao {
    margin-top: 160px;
    height: 250px;
  }
  .anh {
    height: 250px;
  }
  #slide1 {
    background-color: rgb(233, 1, 139);
    padding: 0 calc(50% - 250px / 2);
  }
  /* Product */
  .product {
    width: 375px;
    font-size: 22px;
  }
  .product button {
    font-size: 16px;
    height: 40px;
  }
  /* Up to top */
  .up {
    bottom: 20px;
    right: 5px;
    width: 50px;
  }
}
